.button {
  margin-top: 20px;

  width: 100%;
  height: 50px;

  border-radius: 5px;

  color: #ffffff;

  font-size: 18px;

  border: none;
  outline: none;

  background-color: var(--color-purple);

  cursor: pointer;

  box-shadow: 4px 4px 11px 2px var(--color-shadow);
}

@media (min-width: 768px) {
  .button {
    width: 320px;
  }
}
