.dots {
  margin-bottom: 20px;
}

.dots__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dots__item {
  width: 8px;
  height: 8px;

  border-radius: 50%;

  background-color: var(--color-purple2);

  cursor: pointer;
}

.dots__item:not(:last-child) {
  margin-right: 7px;
}

@media (min-width: 768px) {
  .dots__item {
    width: 10px;
    height: 10px;
  }

  .dots__item:not(:last-child) {
    margin-right: 9px;
  }
}
