.arrow {
  display: flex;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: none;

  cursor: pointer;
  background-color: var(--color-white);
}

.arrow__icom {
  transform: rotate(-90deg);

  fill: var(--color-purple2);
}

.arrow__icom.arrow__right {
  transform: rotate(90deg);
}
