.itemSlider {
  min-width: 250px;
  height: 150px;

  padding: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--color-white);

  font-size: 16px;

  cursor: pointer;

}

.itemSlider__title {
  text-align: center;
}
