.wrapperControl {
  position: relative;

  margin-bottom: 30px;
}

.wrapperControl__control {
  width: 100%;

  outline: none;
  border: none;

  border-radius: 5px;
  border: 1px solid var(--color-silver);

  padding: 10px;

  font-size: 18px;
}

@media (min-width: 768px) {
  .wrapperControl {
    width: 320px;
  }
}

.wrapperControl__control:focus {
  border-color: var(--color-purple);
}

.wrapperControl__error {
  position: absolute;
  bottom: -15px;
  left: 5px;

  color: var(--color-red);

  font-size: 14px;
}
