.slider {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.slider__window {
  width: 250px;
  overflow: hidden;
}

.slider__container {
  display: flex;
  transition: 250ms;
}

.slider__item {
  min-width: 250px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .slider__window {
    width: 700px;
  }

  .slider__item {
    min-width: 350px;
    height: 250px;
  }
}

.slider__item:nth-child(2n) {
  background-color: aqua;
}

.slider__item:nth-child(2n + 1) {
  background-color: bisque;
}
